<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fame">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application android:theme="@style/AppTheme"
        android:supportsRtl="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true">

        <activity android:name=".ConfigActivity">

        </activity>
        <activity android:name=".AlarmCompleteActivity"></activity>
        <activity android:name=".EffortmodeActivity" />
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".ScreenOffActivity" />
        <activity android:name=".SlideActivity" />
        <activity android:name=".AlarmLevelSetActivity" />
        <activity android:name=".SlideLevelSetActivity" />
        <activity android:name=".SliderepeatSetActivity" />
        <activity android:name=".SlideCompleteActivity" />
        <activity android:name=".SlideSetActivity" />
        <activity android:name=".WordSetActivity" />
        <activity android:name=".CategoryActivity" />
        <activity android:name=".SelModeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AlarmrepeatSetActivity" />
        <activity android:name=".AlarmSetActivity" />
        <activity android:name=".CompleteActivity" />
        <activity android:name=".InputSetActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MissionActivity" />
        <activity android:name=".SignUpActivity" /> <!-- 암시적 인텐트로 실행되는 브로드캐스크 리시버 등록 -->
        <receiver
            android:name=".ScreenOffReceiver"
            android:exported="true">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.BOOT_COMPLETED" />-->
                <!--<action android:name="android.intent.action.INPUT_METHOD_CHANGED" />-->
            <!--</intent-filter>-->
        </receiver>
        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <service
            android:name=".SlideService"
            android:enabled="true"
            android:exported="true" />
        <receiver android:name=".AlarmReceiver" android:exported="false" android:enabled="true"/>
        <service android:name=".AlarmService" android:enabled="true"/>
    </application>

</manifest>